In [136]:
import pandas as pd
from datetime import date
import datetime as dt
import numpy as np

In [137]:
dict = {
"ID":[1, 2, 3],
"FullName":["Stan Smith", "Nikola Griffin", "Ruby Moore"],
"Gender":["Male", "Male", "Female"],
"DateOfBirth":["1980-02-10", "2005-12-20", "1946-03-03"] }

In [138]:
person = pd.DataFrame(dict)
print(person)

   ID        FullName  Gender DateOfBirth
0   1      Stan Smith    Male  1980-02-10
1   2  Nikola Griffin    Male  2005-12-20
2   3      Ruby Moore  Female  1946-03-03

In [125]:
person.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           3 non-null      int64
 1   FullName     3 non-null      object
 2   Gender       3 non-null      object
 3   DateOfBirth  3 non-null      object
dtypes: int64(1), object(3)
memory usage: 224.0+ bytes

In [139]:
person['DateOfBirth'] = pd.to_datetime(person['DateOfBirth'])
person.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           3 non-null      int64
 1   FullName     3 non-null      object
 2   Gender       3 non-null      object
 3   DateOfBirth  3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 224.0+ bytes

In [134]:
now = pd.to_datetime('now')
now

person['Age'] = (now.year - person['DateOfBirth'].dt.year) - ((now.month - person['DateOfBirth'].dt.month) < 0)
person
person.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           3 non-null      int64
 1   FullName     3 non-null      object
 2   Gender       3 non-null      object
 3   DateOfBirth  3 non-null      datetime64[ns]
 4   Age          3 non-null      int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 248.0+ bytes

In [135]:

conditions = [
    (person['Age'] <= 18) & (person['Age']>=13),
    (person['Age'] <= 59) & (person['Age']>=19),
    (person['Age'] >= 60)
     ]
choices = ['Teen', 'Adult', 'Senior Adult']
person['Age'] = np.select(conditions, choices)
person

   ID        FullName  Gender DateOfBirth           Age
0   1      Stan Smith    Male  1980-02-10         Adult
1   2  Nikola Griffin    Male  2005-12-20          Teen
2   3      Ruby Moore  Female  1946-03-03  Senior Adult

In [148]:

now = pd.to_datetime('now')
person['Age'] = (now.year - person['DateOfBirth'].dt.year) - ((now.month - person['DateOfBirth'].dt.month) < 0)
person
person.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           3 non-null      int64
 1   FullName     3 non-null      object
 2   Gender       3 non-null      object
 3   DateOfBirth  3 non-null      datetime64[ns]
 4   Age          3 non-null      int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 248.0+ bytes

In [149]:
def count_age(DateOfBirth):
    now = pd.to_datetime('now')
    age = (now.year - person['DateOfBirth'].dt.year) - ((now.month - person['DateOfBirth'].dt.month) < 0)
    age_list = age.values
    print(age_list)
    new_list = []
    for age in age_list: 
        if (age <= 18) & (age >=13):
            new_list.append("Teen")
        elif (age <= 59) & (age >= 19):
            new_list.append("Adult")
        elif (age >= 60):
            new_list.append("Senior Adult")
    return new_list

person['Age'] = count_age(person)
person

[40 15 74]

   ID        FullName  Gender DateOfBirth           Age
0   1      Stan Smith    Male  1980-02-10         Adult
1   2  Nikola Griffin    Male  2005-12-20          Teen
2   3      Ruby Moore  Female  1946-03-03  Senior Adult